/* 
Mobile Verion : done

Table Version : no

Desktop Versio : no


*/

:root {
    --Purple-700: hsl(257, 40%, 49%);
    --Magenta-400: hsl(300, 69%, 71%);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Purple-700);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    padding: 6vw;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


    font-size: 4.4vw;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;


    /* gap: 40px; */
    gap: 12vw;

}


.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    gap: 6vw;

    font-family: "Poppins", sans-serif !important;

}


h2,
p {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h2 {
    font-weight: 600;

}

p {
    font-weight: 200;

}


.logo {
    width: 35vw;
    align-self: flex-start;
    margin-left: 8px;
    margin-top: 8px;
}


.img-cont {
    width: 80vw;
}




button {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: white;
    color: var(--Purple-700);

    width: 60vw;
    height: 12vw;
    border-radius: 30vw;

    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.241);

    font-family: "Poppins", sans-serif;
    cursor: pointer;

    transition: 0.3s all;
}

button:hover {
    background-color: var(--Magenta-400);
    color: white;
}


.links {
    width: 100%;


    display: flex;
    justify-content: center;
    gap: 2vw;


}


.links img {
    width: 5vw;
    filter: brightness(0) invert(1);

}

a {
    border: 1px solid rgb(255, 255, 255);
    width: 8.5vw;
    height: 8.5vw;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.3s;
}

a:hover {
    border: 1px solid var(--Magenta-400);

}

a:hover>img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(20%) saturate(3115%) hue-rotate(284deg) brightness(99%) contrast(90%);
}


::selection{
    background-color:var(--Magenta-400);
}

@media (min-width:1024px) {
    * {
        margin: 0 !important;
        padding: 0;
    }

    body {
        background-image: url(../images/bg-desktop.svg);
        height: 100vh;

        /* padding: 40px 60px; */
        /* padding: 2.8vw 4.2vw ; */
        padding: 4vh 4.2vw;


        display: grid;
        /* grid-template-columns: auto auto auto repeat(1, 1fr) auto; */
        grid-template-columns: auto auto auto repeat(1, 1fr) 15vw;
        /* grid-template-rows: auto 50px 65px 1fr 90px auto; */
        grid-template-rows: auto 3.5vw 4.55vw 1fr 6.3vw auto;
        grid-template-rows: auto 6vh 11vh 1fr 6.3vh auto;
        grid-template-areas: "logo . .  . ."
            ". . . . . "
            "pic pic pic . ."
            "pic pic pic  head head"
            "pic pic pic . ."
            ". . . .  link";


        gap: 0px;
        /* column-gap: 45px; */
        column-gap: 3.1vw;

    }

    /* ======================== */
    .logo {
        grid-area: logo;
        /* width: 200px; */
        width: 14vw;

    }

    .img-cont {
        grid-area: pic;
    }

    .headers {
        grid-area: head;

    }

    .links {
        grid-area: link;
    }

    /* ============================================ */
    .logo,
    .headers,
    .img-cont,
    .links {
        max-height: 100%;
        max-width: 100%;
    }

    .img-cont {
        width: 47vw;
    }

    .headers {
        font-size: medium;
        height: 100%;
        display: flex;
        align-items: flex-start;
        /* gap: 20px; */
        gap: 3vh;
    }

    .headers h2 {
        /* margin-bottom: 10px !important; */
        margin-bottom: 1.5vh !important;
        /* font-size: 40px; */
        font-size: 2.79vw;
        text-align: unset;
        width: 80%;

    }

    .headers p {
        text-align: unset;
        width: 81%;

        font-size: 1.11vw;

    }

    .headers button {
        /* width: 180px; */
        width: 12.8vw;

        /* height: 45px; */
        height: 3vw;

        font-size: 1.12vw;
    }


    .links {
        /* border: 2px solid red; */
        /* gap: 10px; */
        gap: 0.8vw;
        display: flex;
        /* justify-content: flex-end; */
        justify-content: center;
    }


    .links a {
        width: 3vw;
        height: 3vw;
    }

    .links a img {
        width: 1.2vw;
    }






}